*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(bg.png);
    background-size: cover;
}

.part{
    display: flex;
    margin: 20px 150px;
    border-radius: 10px;
    background-image: url(./bg.png);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0.0,0,0.22) 0px 15px 12px;
    height: 100%;
    /* min-width: 1500px; */
    padding: 20px;

}

h1{
    text-align: center;
    font-size: 80px;
    font-family: 'Rubik Vinyl', cursive;
    color: white;
    margin-top: 30px;
}

#info{
    margin-left: 10px;
    width: 90%;
}


img{
    width: 300px;
    height: 100%;
}

img:hover{
    width: 350px;
}

h2{
    color: rgb(244,164,96);
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 18px;
    text-indent: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#button button{
    text-align: center;
    background-color: rgb(255,127,80);
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

#button {
    text-align: right;
    margin: 20px;
  }
